<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionHome" connectionString="Data Source=USER-PC\DEN_SQLEXPRESS;Initial Catalog=Game;User ID=sa;
			 Password=24121985den;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;
			 ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
</configuration>